<div class="card">
    <div class="card-header">
        Choferes
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success me-md-2" type="button"routerLink="/agregarchofer">Agregar Chofer</button>
          </div>
    </div>
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre(s)</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th>Rol</th>
                    <th>Doc LicFederal</th>
                    <th>Fecha LicFederal</th>
                    <th># LicFederal</th>
                    <th>Doc LicEstatal</th>
                    <th>Fecha LicEstatal</th>
                    <th># LicEstatal</th>
                    <th>INE (Documento)</th>
                    <th>CURP (Documento)</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td>Marco</td>
                    <td>Canul</td>
                    <td>22</td>
                    <td>Chofer</td>
                    <td>XXXXX</td>
                    <td>F E C H A</td>
                    <td>X X X X X</td>
                    <td>XXXXX</td>
                    <td>F E C H A</td>
                    <td>X X X X X</td>
                    <td>INEEEEEEEEEEEEEE</td>
                    <td>CUUUUUUUUUUUUUUUUUUUUURP</td>
                    <td>
                        <button type="button" class="btn btn-warning" routerLink = "/editarchofer">Editar</button>
                    </td>
                    <td><button type="button" class="btn btn-danger">Borrar</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
</div>