<div class="card">
    <div class="card-header">
        Editar Choferes
    </div>
    <div class="card-body">

        <form>

            <div class="mb-3">
                <label for="" class="form-label">Nombre(s)</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el nombre del chofer">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Apellidos</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe los apellidos del chofer">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Edad</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la edad del chofer">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Rol</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el rol del chofer">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Doc. Licencia Federal</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Fecha Licencia Federal</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la fecha de la licencia">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Número Licencia Federal</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el número de la licencia federal">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Doc. Licencia Estatal</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Fecha Licencia Estatal</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la fecha de la licencia">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Número Licencia Estatal</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el número de la licencia estatal">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">INE (Documento)</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">CURP (Documento)</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
</div>

