<div class="card">
  <div class="card-header">
      Vehiculos
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a>
          <button class="btn btn-success me-md-2" type="button" routerLink="/agregarvehiculo" >Agregar Vehiculo</button>
        </a>
        </div>
  </div>
  <div class="table-responsive">
      <table class="table align-middle">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>ID Super Uusuario</th>
                  <th>ID Chofer</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Foto Vehiculo</th>
                  <th>Dueño Compania</th>
                  <th>Color</th>
                  <th>Placas</th>
                  <th>Tipo Servicio</th>
                  <th>Lugar Siniestro</th>
                  <th>Descripción Servicio</th>
                  <th>Fecha Entrada</th>
                  <th>Pensión Corralon</th>
                  <th>Días Pensión</th>
                  <th>Inventario</th>
                  <th>Foto Inventario</th>
                  <th>Llaves</th>
                  <th>Status Entrega</th>
                  <th>Fecha Entrega</th>
                  <th>Otro Asunto</th>
                  <th>Sucursal Vehiculo</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>3</td>
                  <td>1</td>
                  <td>2</td>
                  <td>NISSAN</td>
                  <td>XXX</td>
                  <td>FOTO</td>
                  <td>JOSÉ</td>
                  <td>AZUL</td>
                  <td>123-AB</td>
                  <td>TIPO SERVICIO</td>
                  <td>CAMPECHE</td>
                  <td>XXXXXX</td>
                  <td>FECHA</td>
                  <td>$300</td>
                  <td>4</td>
                  <td>XXXX</td>
                  <td>FOTO</td>
                  <td>SI LLAVES</td>
                  <td>LIBRE</td>
                  <td>FECHA</td>
                  <td>NO SE XXXXX</td>
                  <td>GRUAS CALKINI</td>
                  <td>
                      <button type="button" class="btn btn-warning" routerLink = "/editarvehiculo">Editar</button>
                  </td>
                  <td><button type="button" class="btn btn-danger">Borrar</button></td>
              </tr>
          </tbody>
      </table>
      
  </div>
  
</div>
