<div class="card">
    <div class="card-header">
        Grúas
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success me-md-2" type="button"routerLink="/agregargrua">Agregar Grúa</button>
          </div>
    </div>
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID Usuario</th>
                    <th>ID Chofer</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th># Serie</th>
                    <th>Placas</th>
                    <th>Año</th>
                    <th>Tipo</th>
                    <th>Tarjeta De Circulación</th>
                    <th>Carta Porte</th>
                    <th>Poliza Seguro</th>
                    <th>Factura De Grúa</th>
                    <th>Conseción</th>
                    <th>Inclunsiones</th>
                    <th>Permiso Fisicomeca</th>
                    <th>Anticontaminantes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td>1</td>
                    <td>NISSAN</td>
                    <td>Xxxxx</td>
                    <td>123456789</td>
                    <td>JOSÉ-456</td>
                    <td>2200</td>
                    <td>12</td>
                    <td>TIPO SERVICIO</td>
                    <td>XXXXXX</td>
                    <td>XXXXXX</td>
                    <td>Xxxxx</td>
                    <td>Xxxxx</td>
                    <td>xxxxx</td>
                    <td>XXXX</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>
                        <button type="button" class="btn btn-warning" routerLink = "/editargrua">Editar</button>
                    </td>
                    <td><button type="button" class="btn btn-danger">Borrar</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
</div>
