<div class="card">
    <div class="card-header">
        Editar Vehiculo
    </div>
    <div class="card-body">

        <form>

            <div class="mb-3">
                <label for="" class="form-label">ID Usuario</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el id del usuario">
              </div>

            <div class="mb-3">
                <label for="" class="form-label">ID Chofer</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el id del chofer">
              </div>

            <div class="mb-3">
              <label for="" class="form-label">Marca</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la marca">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Modelo</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el modelo del vehiculo">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Foto Del Vehiculo</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar foto">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Dueño de la compañia</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el nombre">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Color</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el color">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Número placa</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el número de placa">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Tipo de servicio</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Seleccione el tipo de servicio">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Lugar siniestro</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el lugar de siniestro">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Descripción servicio</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la descripción del servicio">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Fecha de entrada</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Seleccione la fecha de entrada">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Pensión Corralon</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la pensión en el corralon">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Días pensión</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe los días de pensión">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Inventario</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el inventario">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Foto inventario</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar foto">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Llaves</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Seleccione...">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Status entrega</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el estatus de entrega">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Fecha entrega</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Seleccione la fecha de entrega">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Otro asunto</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe un asunto adicional">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Sucursal Vehiculo</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la sucursal del vehiculo">
              </div>
              <div class="btn-group" role="group" aria-label="">
                  <button type="button" class="btn btn-success">Agregar</button>
                  <button type="button" class="btn btn-primary">Cancelar</button>
              </div>
        </form>
    </div>
</div>