<div class="card">
    <div class="card-header">
        Agregar Gruas
    </div>
    <div class="card-body">

        <form>

            <div class="mb-3">
                <label for="" class="form-label">ID Usuario</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el id del ususario">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Marca</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe la marca de la grúa">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Modelo</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el modelo de la grúa">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Número de serie</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el número de serie de la grúa">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Placas</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escrible la placa de la grúa">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Número del motor</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el número del motor">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Tipo</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Seleccione el tipo">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Tarjeta de circulación</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Carta porte</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Poliza de seguro</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Factura de grúa</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Conseción</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Inclunsiones</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Permiso Fisicomeca</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Anticontaminantes</label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Agregar documento">
              </div>

              <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
</div>
